<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		li + li {
			margin-top: 15px;
		}
	</style>
</head>
<body>
	<div id="app">
		<ul>
			<li>
				<div><input type="text" v-model="inputVal_1"></div>
				<div>这是双向数据绑定:<span v-text="inputVal_1"></span></div>
			</li>
			<li>
				<div>
					名字: <input type="text" v-model="person.name"><br>
					年龄: <input type="text" v-model="person.age">
				</div>
				<div>我的名字是{{person.name}},今年{{person.age}}岁</div>
				<button @click="switchClick">替换</button>
			</li>
			<li>
				<button @click="toggleClick">点击{{curVal === 'show' ? '隐藏' : '显示'}}</button>
				<div v-show="curVal === 'show'">我显示了</div>
			</li>
		</ul>
	</div>
	<script src="mVue.js"></script>
	<script>
	var app = new Vue({
		el:'#app',
		data() {
			return {
				inputVal_1: 'test',
				curVal: 'show',
				person: {
					name: 'lee',
					age: 18,
				},
			}
		},
		methods: {
			toggleClick() {
				this.curVal = this.curVal === 'show' ? 'hide' : 'show'
			},
			switchClick() {
				this.person = {
					name: 'lebron',
					age: 34,
				}
			},
		}
	})
	</script>
</body>
</html>